bin/*
gen/*
local.properties

libs/lib-appcompat/bin/*
libs/lib-appcompat/gen/*
libs/lib-appcompat/local.properties

#Android Studio
.idea/
*.iml
out/

#OS X
.DS_STORE

#Tests
tests/bin/*
tests/gen/*
tests/classes/*
tests/reports/*
tests/local.properties

#nsvir
documentation