<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.postech.client"
      android:versionCode="3"
      android:versionName="1.0.2">
    <application android:label="@string/app_name"
                 android:theme="@style/POSTechTheme"
                 android:icon="@drawable/launcher" >
        <activity android:name="Start"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="OpenCash" />
        <activity android:name="TicketInput" />
        <activity android:name="ProceedPayment"
                  android:windowSoftInputMode="stateUnchanged" />
        <activity android:name="Configure" />
        <activity android:name="Debug"
                  android:theme="@android:style/Theme.NoTitleBar" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="3" 
              android:targetSdkVersion="4" />
</manifest> 
