<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.pasteque.client"
      android:versionCode="6000000"
      android:versionName="6.0 alpha 2">
    <application android:label="@string/app_name"
                 android:theme="@style/POSTechTheme"
                 android:icon="@drawable/launcher" >
        <activity android:name="Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Password" />
        <activity android:name="OpenCash" />
        <activity android:name="TicketSelect" />
        <activity android:name="TicketInput" />
        <activity android:name="CompositionInput" />
        <activity android:name="CustomerSelect" />
        <activity android:name="CustomerCreate" />
        <activity android:name="TariffAreaSelect" />
        <activity android:name="ProceedPayment"
                  android:windowSoftInputMode="stateUnchanged" />
        <activity android:name="ReceiptSelect" />
        <activity android:name="CloseCash" />
	<activity android:name="InventoryInput" />
        <activity android:name="Configure"
                  android:theme="@android:style/Theme.Holo" />
        <activity android:name="Debug"
                  android:theme="@android:style/Theme.Holo" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="11" />
</manifest> 
